:root {
    --bg-active: rgb(255, 255, 255);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7%;
    padding: 15px 20px;
    z-index: 10;

}

.header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header.abajo{
    background-color: rgb(255, 213, 37);
    padding: 15px 20px;
}

.header .logo img{
    height: 70px;
    width: auto;
    margin-left: 40px;
    
}

.header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.header ul li:hover{
    transform: scale(1.05);
}

.header ul li a{
    position: relative;
    margin:  0 15px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0,7s;
}

.header li a:hover{
    color: rgb(0, 128, 78);
}

header.abajo ul li a{
    color: rgb(255, 255, 255);
}

.carrusel{
    position: relative;
    width: auto;
    height: auto;
    margin: 20px auto 0;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 130px;

}

.carrusel ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 30s infinite alternate ease-in-out;
}

.carrusel li{
    width: 400%;
    list-style: none;
    position: relative;
}

.carrusel img{
    width: 100%;
    
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.informacion{
    max-width: 59rem;
    width: 100%;
    height: 1150px;
    padding: 50px;
    box-shadow: 0 2px 12px black;
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.informacion .presentacion h1{
    margin-left: 200px;
}

.informacion div p{
    width: 76%;
    text-align: justify;
    font-size: 18px;
    margin-left: 200px;
}

.director{
    text-align: center;
    float: left;
    bottom: 155px;
    position: relative;
}

.director img{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(216, 49, 53);
}

.director > h1{
    font-size: 15px;
}

.director div h1{
    font-size: 13px;
}

.footer{
    display: grid;
    background-color: rgb(0, 128, 78);
    width: 100%;
    height: auto;
    padding: 8px 20px;

}

.footer nav{
    float: right;
    justify-content: center;
    align-items: center;
}

.footer h2{
    color: white;
    text-align: center;
    justify-content: right;
    padding: 20px 5%;
    font-size: 40px;
    margin-top: 10px;
    
}

.footer .imagen img{
    height: 100px;
    
    margin-left: 40px;
    margin-right: 140px;
}

.footer nav ul{
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer nav ul li{
    list-style: none;
    
}

.footer nav ul li:hover{
    transform: scale(1.05);
}

.footer nav ul li a{
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.footer nav li a:hover{
    color: rgb(216, 49, 53);
}

.tab-container{
    width: 800px;
    height: 400px;
    border-radius: 5px;
    font-size: 18px;
}

.options{
    display: flex;
    width: 100%;
    height: 30px;
    list-style: none
}

.option{
    flex-grow: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.option-active{
    background: var(--bg-active);
    border-bottom: 3px solid rgb(216, 49, 53);
}

.contents{
    width: 100%;
    height: 500px;

}

.content{
    width: 100%;
    height: 100px;
    color: rgb(0, 0, 0);
    display: none;
    padding: 20px;
}

.content-active{
    background: var(--bg-active);
    display: block;
}

.content h3{
    padding-bottom: 10px;
    border-bottom: solid 3px rgb(168, 124, 82);
    letter-spacing: 3px;
    margin: 10px;
}

.content h3 ~ p{
    font-size: 14px;
    margin-left: 10px;
}

.content .plan img{
    height: 700px;
    width: auto;
    margin-left: 40px;
}


.content p{
    margin: 15px;
    letter-spacing: 1px;
}



.tabla{
    font-size: 18px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: 80px;

}

.tabla td{
    padding: 10px 30px;
}

.tabla tr:nth-child(even) {
	background-color: rgb(235, 240, 204);
}

.tabla2{
    font-size: 18px;
    table-layout: fixed;
    border-collapse: collapse;
}

.tabla2 td{
    padding: 10px 30px;
}
